:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
  --opacity-hover: .8;
  --transition-hover: all 300ms;
}

* a {
  text-decoration: none;
  color: var(--text-color);
}
* img {
  max-width: 100%;
}

body {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  line-height: normal;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.text {
  color: var(--text-color);
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.title {
  color: #FFF;
  font-family: "Work Sans";
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 100ms;
  padding: 40px 0;
}
.header.active {
  background-color: rgb(25, 42, 61);
  padding: 25px 0;
}
@media (max-width: 992px) {
  .header.active {
    padding: 15px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
@media (max-width: 992px) {
  .header .menu {
    position: absolute;
    display: flex;
    top: 0;
    left: -100%;
    height: 100vh;
    overflow: auto;
    width: 65%;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }
  .header .menu._active {
    left: 0%;
  }
}
.header .menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .header .menu-icon {
    display: block;
    height: 18px;
    width: 20px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .header .menu-icon span:first-child {
    top: 0;
  }
  .header .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header .menu-icon._active span {
    transform: scale(0);
  }
  .header .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 0px);
  }
  .header .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.header .menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
@media (max-width: 992px) {
  .header .menu__item {
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 270px;
  }
}
@media (max-width: 380px) {
  .header .menu__item {
    padding-bottom: 400px;
  }
}
.header .menu__list-logo {
  display: none;
}
@media (max-width: 992px) {
  .header .menu__list-logo {
    display: block;
    border-bottom: 1px solid var(--accent-color);
    width: clamp(6.25rem, 5.668rem + 2.91vw, 8.25rem);
    padding-bottom: 1px;
    margin: 40px 0;
  }
}
@media (max-width: 992px) {
  .header .menu__overfloy._active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(14, 14, 14, 0.75);
    z-index: 1;
    transition: var(--transition-hover);
  }
}
.header .menu__link {
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition-hover);
  position: relative;
}
.header .menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-hover);
}
.header .menu__link.active {
  border-bottom: 3px solid var(--accent-color);
}
@media (any-hover: hover) {
  .header .menu__link:hover {
    color: #FFF;
  }
  .header .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .header .menu__link {
    font-size: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
    line-height: 90px;
  }
}
@media (max-width: 380px) {
  .header .menu__link {
    font-size: 19px;
    line-height: 65px;
  }
}
.header__buttons {
  display: flex;
  gap: 0 10px;
}
.header__btn {
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  padding: 11px 20px;
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  transition: var(--transition-hover);
}
@media (max-width: 350px) {
  .header__btn {
    width: 90px;
    padding: 7px 15px;
  }
}
.header__btn.login {
  background-color: transparent;
  border: 1px solid var(--accent-color);
}
@media (any-hover: hover) {
  .header__btn.login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 450px) {
  .header__btn.login {
    display: none;
  }
}
.header__btn.register {
  border: none;
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .header__btn.register:hover {
    background-color: transparent;
    border: 1px solid var(--accent-color);
  }
}

.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;
}
.hero .hero-deco {
  position: absolute;
  bottom: -150px;
  right: 0;
  z-index: -1;
}
@media (max-width: 576px) {
  .hero .hero-deco {
    height: 300px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: clamp(0.938rem, -1.699rem + 13.18vw, 10rem);
}
.hero__title {
  font-size: 68px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  padding-bottom: 60px;
}
@media (max-width: 550px) {
  .hero__title {
    font-size: 45px;
    padding-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 0;
}
@media (max-width: 550px) {
  .hero__text {
    font-size: 16px;
    padding-bottom: 25px;
  }
}
.hero__filter {
  height: 100px;
  width: 880px;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  background-color: #FFF;
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  justify-content: space-between;
  color: #121B25;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  background-color: #14A795;
  height: 100%;
  width: 100%;
  font-size: 24px;
  color: #FFF;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: 10px;
  transition: var(--transition-hover);
}
.filter__btn button:hover {
  background-color: #12b09e;
}
.filter__btn button:active {
  background-color: #07897a;
}
@media (max-width: 576px) and (min-width: 475px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__type {
  color: #858585;
  padding-right: 2px;
  cursor: pointer;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  background: url(../img/dropdown-icons.svg) center bottom no-repeat;
  transition: var(--transition-hover);
}
.block-filter__icon.active {
  transform: rotate(180deg);
}
.block-filter__value {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #ffffff;
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
  z-index: 3;
  transition: all 100ms;
  box-shadow: 0px 0px 14px -6px #7F5E4C;
}
.block-filter__dropdown.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  text-transform: capitalize;
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #d6d6d6;
  }
}

.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
  align-items: center;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}

.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: #1A242F url(../img/sliders/slider-bg.png) center center/cover no-repeat;
}
.popular__title {
  padding-bottom: 40px;
}
.popular__slider {
  position: relative;
}
.popular__btn-link {
  text-align: center;
}
.popular__link {
  display: inline-block;
  color: #FFF;
  font-size: clamp(0.938rem, 0.774rem + 0.82vw, 1.5rem);
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 22px 42px;
  background-color: var(--accent-color);
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .popular__link:hover {
    background-color: #12b09e;
  }
}
.popular__link:active {
  background-color: #066b5f;
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px 0;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  color: #FFF;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: flex;
  gap: 0 20px;
  padding-bottom: 68px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 0 4px;
  flex-wrap: wrap;
}
@media (max-width: 655px) {
  .popular-slide__thumb {
    position: relative;
    transition: all 0.2s;
  }
  .popular-slide__thumb.active {
    opacity: 0.6;
  }
}

.swiper {
  overflow: hidden;
}
@media (max-width: 655px) {
  .swiper__arrow {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    z-index: 10;
    cursor: pointer;
    pointer-events: none;
  }
  .swiper__arrow.active span {
    display: none;
  }
  .swiper__arrow span {
    display: block;
    width: 10.5vw;
    height: 10.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  .swiper__arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .swiper__arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
}
@media (max-width: 360px) {
  .swiper__arrow {
    top: 16%;
    left: 57%;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.swiper-wrapper {
  display: inline-flex;
}

.slider__btns {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .slider__btns {
    top: -10px;
    right: 30px;
    width: auto;
  }
}

.popular-slider-prev {
  position: absolute;
  left: -120px;
}
@media (max-width: 1800px) {
  .popular-slider-prev {
    left: -150px;
    top: -100px;
  }
}

.popular-slider-next {
  position: absolute;
  right: -120px;
  transform: rotate(180deg);
}
@media (max-width: 1800px) {
  .popular-slider-next {
    right: -30px;
    top: -100px;
  }
}

.popular-slider__btn {
  width: 78px;
  height: 78px;
  border: 1px solid #A9ADB1;
  border-radius: 50%;
  background: url(../img/icons/arrow-slider.svg) left 30px center no-repeat;
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .popular-slider__btn:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.popular-slider__btn:active {
  background-color: #066b5f;
}
@media (max-width: 660px) {
  .popular-slider__btn {
    display: none;
  }
}

.why {
  padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(1.25rem, 0.705rem + 2.73vw, 3.125rem);
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
}
@media (max-width: 768px) {
  .why__items {
    flex-direction: column;
  }
}
.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.4788732394%;
}
.item-why__title {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  padding-bottom: 11px;
}
.item-why__img {
  width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 36px;
}
.item-why__img::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-why__img svg {
  width: 40%;
  height: 40%;
  z-index: 5;
}
.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.reviews .reviews-deco {
  position: absolute;
  top: -500px;
  left: -910px;
  z-index: -1;
}
@media (max-width: 360px) {
  .reviews .reviews-deco {
    left: -1000px;
  }
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding-top: clamp(5rem, 3.727rem + 6.36vw, 9.375rem);
}
.reviews__quotes {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(7.5rem, 4.955rem + 12.73vw, 16.25rem);
  text-transform: capitalize;
  color: var(--accent-color);
}

.slider-reviews {
  position: relative;
}
.slider-reviews__text {
  color: #FFF;
  font-size: clamp(1rem, 0.709rem + 1.45vw, 2rem);
  line-height: 1.54;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 40px;
}
.slider-reviews__name {
  font-size: clamp(1rem, 0.891rem + 0.55vw, 1.375rem);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.26;
}
.slider-reviews__job {
  font-size: clamp(0.875rem, 0.802rem + 0.36vw, 1.125rem);
  font-weight: 400;
  line-height: 1.7;
  text-transform: capitalize;
}
.slider-reviews__btns {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 70px;
  width: 115px;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.slider-reviews__btns::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #353F49;
}
.slider-reviews__btn {
  cursor: pointer;
}
.slider-reviews__btn.swiper-button-disabled svg {
  fill: #767F89;
}
.slider-reviews__btn svg {
  fill: #fff;
}

.slider-reviews-prev {
  transform: translateY(-4px) rotate(180deg);
}

.gallery {
  background: linear-gradient(270deg, rgb(26, 36, 47) 0.008%, rgba(26, 36, 47, 0) 82.969%);
  padding-top: clamp(2.5rem, 0.318rem + 10.91vw, 10rem);
  padding-bottom: clamp(2.5rem, 0.318rem + 10.91vw, 10rem);
}
.gallery__container {
  display: flex;
  align-items: center;
  gap: 0 63px;
}
@media (max-width: 992px) {
  .gallery__container {
    flex-direction: column;
    align-items: center;
  }
}
.gallery__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  width: 50.7042253521%;
}
@media (max-width: 992px) {
  .gallery__box {
    padding-bottom: 30px;
    width: 100%;
    gap: 0 10px;
  }
}
.gallery__item {
  flex: 0 0 49%;
  aspect-ratio: 7/11;
  position: static;
}
.gallery__item .swiper-wrapper {
  position: relative;
}
.gallery__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__title {
  padding-bottom: clamp(1rem, 0.891rem + 0.55vw, 1.375rem);
}
@media (min-width: 992px) {
  .gallery__title {
    max-width: 520px;
  }
}
@media (max-width: 992px) {
  .gallery__title {
    font-size: 60px;
  }
}
@media (max-width: 590px) {
  .gallery__title {
    font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  }
}
.gallery__text {
  max-width: 637px;
  font-size: clamp(0.75rem, 0.641rem + 0.55vw, 1.125rem);
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.813rem);
}
@media (max-width: 992px) {
  .gallery__text {
    font-size: 15px;
  }
}
@media (max-width: 590px) {
  .gallery__text {
    font-size: 15px;
  }
}
.gallery__link {
  display: inline-block;
  color: #FFF;
  font-size: clamp(0.75rem, 0.532rem + 1.09vw, 1.5rem);
  font-weight: 500;
  text-transform: capitalize;
  padding: clamp(1.125rem, 1.052rem + 0.36vw, 1.375rem) clamp(1.438rem, 1.037rem + 2vw, 2.813rem);
  background-color: var(--accent-color);
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .gallery__link:hover {
    background-color: #12b09e;
  }
}
.gallery__link:active {
  background-color: #066b5f;
}
@media (max-width: 640px) {
  .gallery__link {
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .gallery__link {
    width: 89%;
  }
}
@media (max-width: 500px) {
  .gallery__link {
    width: 80%;
  }
}

.begin {
  position: relative;
  overflow: hidden;
  padding-top: clamp(2.5rem, 0.318rem + 10.91vw, 10rem);
  padding-bottom: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
}
.begin .begin-rect {
  position: absolute;
  top: 0;
  right: -66px;
  z-index: -1;
}
.begin .begin-wave {
  position: absolute;
  bottom: -200px;
  left: -200px;
  z-index: -1;
}
.begin__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  max-width: 1240px;
}
@media (max-width: 992px) {
  .begin__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.begin__title {
  font-size: clamp(1.563rem, 0.781rem + 3.91vw, 4.25rem);
  margin-top: -34px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .begin__title {
    font-size: 60px;
  }
}
@media (max-width: 590px) {
  .begin__title {
    font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  }
}
.begin__text {
  max-width: 617px;
  padding-bottom: clamp(1.25rem, 0.559rem + 3.45vw, 3.625rem);
}
@media (max-width: 590px) {
  .begin__text {
    font-size: 15px;
  }
}
.begin__link {
  display: inline-block;
  color: #FFF;
  font-size: clamp(0.75rem, 0.532rem + 1.09vw, 1.5rem);
  font-weight: 500;
  text-transform: capitalize;
  padding: clamp(1.125rem, 1.052rem + 0.36vw, 1.375rem) clamp(1.438rem, 1.037rem + 2vw, 2.813rem);
  background-color: var(--accent-color);
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .begin__link:hover {
    background-color: #12b09e;
  }
}
.begin__link:active {
  background-color: #066b5f;
}
@media (max-width: 640px) {
  .begin__link {
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .begin__link {
    width: 89%;
  }
}
@media (max-width: 500px) {
  .begin__link {
    width: 80%;
  }
}

.footer {
  position: relative;
  padding-top: clamp(2.5rem, 0.682rem + 9.09vw, 8.75rem);
  background-color: #1A242F;
}
.footer .copyright__container {
  display: flex;
  justify-content: space-between;
  margin-top: clamp(2.5rem, 1.591rem + 4.55vw, 5.625rem);
  padding-bottom: 15px;
}
@media (max-width: 700px) {
  .footer .copyright__container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 clamp(2.5rem, -12.381rem + 23.81vw, 8.75rem);
}
@media (max-width: 992px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 620px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__copyright::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #303A44;
  left: 0;
  right: 0;
  bottom: 55px;
}
@media (max-width: 700px) {
  .footer__copyright::after {
    bottom: 70px;
  }
}
@media (max-width: 550px) {
  .footer__copyright::after {
    bottom: 55px;
  }
}
.footer .copyright__text {
  font-size: clamp(0.563rem, 0.399rem + 0.82vw, 1.125rem);
}
@media (max-width: 992px) {
  .footer__block {
    grid-column: 1/5;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/3;
    grid-column: auto;
  }
}
.footer__text {
  padding-top: 22px;
  width: 340px;
  padding-bottom: 32px;
}
@media (min-width: 992px) {
  .footer__text {
    width: 340px;
  }
}
@media (max-width: 380px) {
  .footer__text {
    width: 230px;
    font-size: 21px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 0 30px;
  padding-bottom: 20px;
}
@media (max-width: 620px) {
  .footer__socials {
    justify-content: center;
  }
}
.footer__social svg {
  transition: var(--transition-hover);
  fill: #555E68;
}
@media (any-hover: hover) {
  .footer__social:hover svg {
    fill: #FFF;
  }
}

.links-footer__header {
  color: #FFF;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  padding-bottom: 11px;
  padding-top: 11px;
}
.links-footer__item {
  list-style: none;
}
.links-footer__link {
  color: rgb(214, 214, 214);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  transition: var(--transition-hover);
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: #FFF;
  }
}/*# sourceMappingURL=style.css.map */